<div class="container">
  <div class="row">
    <h2 class="user-title">買い物リスト</h2>
  </div>

  <div class="row">
    <div class="title-create">
      <%= form_for [:users, @new_buy_list] do |f| %>
      <div class="form-inline">
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.label :title, "新規買い物リスト作成：" %>
        <%= f.text_field :title, class: "form-control title-create__field" %>
        <%= f.submit "作成", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>買い物リスト名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @buy_lists.each do |buy_list| %>
          <tr>
            <td><%= link_to buy_list.title, users_buy_list_path(buy_list) %></td>
            <td><%= link_to "削除する", users_buy_list_path(buy_list), method: :delete, class: "btn btn-danger float-right", data: {confirm: "削除してもよろしいですか？"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>