<div class="container">
  <div class="row">
    <h2 class="user-title">【<%= @buy_list.title %>】の商品</h2>
  </div>

  <div class="row title-create">
    <div class="mx-auto form-inline">
      <%= form_for [:users, @buy_list] do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.label :title, "買い物リスト名変更" %>
        <%= f.text_field :title, class: "form-control" %>
        <%= f.submit "変更", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th colspan="2">リスト商品</th>
          <th>個数</th>
          <th>消費日数（／個）</th>
          <th>購入期限</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @buy_list_products.each do |list| %>
          <tr>
            <%= form_for [:users, list] do |f| %>
              <td><%= f.submit "✔︎" %></td>
              <td><%= attachment_image_tag list.product, :image, :fill, 50, 50, fallback: "no_image.jpg", size: '50x50' %></td>
              <td><%= link_to list.product.name, users_product_path(list.product) %></td>
              <td><%= f.select :amount,(1..10).to_a %></td>
              <td><div class="form-group"><%= f.text_field :cost, class: "form-control" %></div></td>
              <td>
                <% if list.cost.blank? %>
                  <%= list.updated_at.strftime("%Y/%m/%d") %>
                  <p>※前回購入日</p>
                <% elsif list.dead_line.present? %>
                  <%= list.dead_line.strftime("%Y/%m/%d") %>
                <% else %>
                  <p>初回購入品</p>
                <% end %>
              <%# 商品のページから追加した時点で、購入期限は設定していないため、有り無しかで分岐 %>
              </td>
            <% end %>
            <td><%= link_to "削除", users_buy_list_product_path(list), method: :delete, class: "btn btn-danger", data: {confirm: "削除してもよろしいですか？"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
