  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <%= attachment_image_tag user, :image, :fill, 300, 300, fallback: "no_image.jpg", size: '300x300' %>
    </div>

    <div class="col-sm-4">
      <table class="table table-bordered">
        <tr>
          <th>名前</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= user.name_kana %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= user.nickname %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= user.email %></td>
        </tr>
      </table>
    </div>
  </div>