<div class="container">
  <div class="row">
    <h2>会員情報編集</h2>
  </div>

  <div class="row">
    <%= form_for [:users, @user] do |f| %>
      <%= attachment_image_tag @user, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size: '200x200' %><br>
        <%= f.attachment_field :image %>
        <%= f.label :name, "名前" %>
        <%= f.text_field :name %><br>
        <%= f.label :name_kana, "フリガナ" %>
        <%= f.text_field :name_kana %><br>
        <%= f.label :nickname, "ニックネーム" %>
        <%= f.text_field :nickname %><br>
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email %><br>
        <%= f.submit "更新", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
