<div class="container">
  <div class="row">
    <h2 class="user-title">会員情報編集</h2>
  </div>

  <%= form_for [:users, @user] do |f| %>
  <div class="row">
    <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= attachment_image_tag @user, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg", size: '300x300' %><br>
          <%= f.attachment_field :image %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :name_kana, "フリガナ" %>
          <%= f.text_field :name_kana, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :nickname, "ニックネーム" %>
          <%= f.text_field :nickname, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <%= f.submit "更新する", class: "btn btn-primary", style: "margin: 50px;" %>
    </div>
  </div>
  <% end %>
</div>
