<div class="container-fluid">
  <div class="row">

    <%= render 'users/products/search_list', genres: @genres, q: @q %>

    <div class="col-sm-9">
      <h2 class="user-title">商品一覧</h2>
      <div class="product-list">
        <% @products.each do |product| %>
        <div class="card product-list__item">
          <div class="card-img-top"><%= attachment_image_tag product, :image, :fill, 240, 240, fallback: "no_image.jpg", size: '240x240' %></div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to product.name, users_product_path(product) %></h5>
            <p class="card-title">ジャンル：<%= product.genre.title %></p>
            <div class="card-title" id="star-avg-<%= product.id %>">評価平均：</div>
            <%= render 'shared/star_avg', product: product %>
          </div>
        </div>
        <% end %>
      </div>
      <%= paginate @products, class: "paginate" %>
    </div>
  </div>
</div>