<div class="container-fluid">
  <div class="row">

    <%= render 'users/products/search_list', genres: @genres, q: @q %>

    <div class="col-sm-9">
      <h2>商品一覧</h2>
        <% @products.each do |product| %>
          <%= link_to users_product_path(product) do %>
          　<%= attachment_image_tag product, :image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100' %><br>
            <%= product.name %><br>
            <%= product.genre.title %><br>
          <% end %>
        <% end %>
      <%= paginate @products, class: "paginate" %>
    </div>
  </div>
</div>
