<div class="container-fluid">
  <div class="row">

    <%= render 'users/products/search_list', genres: @genres, q: @q %>

    <div class="col-sm-9">
      <h2 class="user-title">商品一覧</h2>
      <div class="product-list">
        <% @products.each do |product| %>
          <div class="product-list__item">
              <%= link_to users_product_path(product) do %>
              　<div class=""><%= attachment_image_tag product, :image, :fill, 200, 200, fallback: "no_image.jpg", size: '250x250' %></div>
                <div>【 商品名 】<%= product.name%></div>
                <div>【ジャンル】<%= product.genre.title %></div>
              <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @products, class: "paginate" %>
    </div>
  </div>
</div>
