<div class="container">
  <div class="row">
    <h2 class="admin-title">会員情報詳細</h2>
  </div>

  <%= render 'users/users/profile_form', user: @user %>

  <div class="row">
    <div class="authority-form">
      <%= form_with model: @user, url: admins_user_path, local: true do |f| %>
      <div class="form-inline">
        <%= f.label :status, "コメント権限：" %>
        <%= f.select :status, [["制限なし",0],["コメント制限",1]], {}, class: "form-control authority-form__select" %>
        <%= f.submit "更新", class: "btn btn-primary"%>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <h3 class="admin-title__sub">コメント一覧</h3>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 15%;">作成日</th>
          <th style="width: 15%;">スコア</th>
          <th>コメント</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
        <tr>
          <td><%= review.created_at.strftime("%Y/%m/%d") %></td>
          <td id="star-rate-<%= review.id %>"></td>
          <%= render 'shared/star', review: review %>
          <td><%= review.comment %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @reviews, class: "paginate" %>

</div>