<div class="container">
  <div class="row">
    <h2 class="admin-title">会員情報詳細</h2>
  </div>

  <%= render 'users/users/profile_form', user: @user %>

  <div class="row">
    <div class="authority-form">
      <%= form_with model: @user, url: admins_user_path, local: true do |f| %>
      <div class="form-inline">
        <%= f.label :status, "コメント権限：" %>
        <%= f.select :status, [["制限なし",0],["コメント制限",1]], {}, class: "form-control authority-form__select" %>
        <%= f.submit "更新", class: "btn btn-primary"%>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <%= link_to "会員レビュー一覧", admins_reviews_search_path(@user), class: "btn btn-primary create-reviews" %>
      <%= link_to "会員作成商品一覧", admins_products_search_path(@user), class: "btn btn-primary create-products" %>
    </div>
  </div>

  <%= paginate @reviews, class: "paginate" %>

</div>