<div class="container">
  <div class="row">
    <h2 class="admin-title">ログイン画面</h2>
  </div>

  <div class="row">
    <div class="mx-auto">
      <div class="form-group">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

        <%= f.submit "　　　　  ログイン　　　　  ", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
