<div class="container">

  <div class="row">
    <h2 class="admin-title">商品一覧（<%= @user.name %>）</h2>
  </div>

  <div class="row">
    <div class="product-search">
      <%= search_form_for(@q, url: admins_products_search_path(@user)) do |f| %>
      <div class="form-inline">
        <%= f.label :name, "商品名：" %>
        <%= f.search_field :name_cont, class: "form-control product-search__field" %>
        <%= f.submit "検索", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>

  <%= render "admins/products/products_form", products: @products, q: @q %>

</div>